@import './variables.scss';
@import './config.scss';

// Main Header
#main-header {
    h6 {
        margin: 2.5rem 4.5rem;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Inconsolata', monospace;
    }
}

// Main Section
#main-section {
    #wrapper {
        display: flex;
        align-items: center;
    }

    #img-div {
        margin-right: 2.5rem;
    }

    #content-div {
        padding: 1rem 0;

        p {
            margin: 1.5rem 0;
            color: $gray-color;
        }

        .btn {
            text-align: center;
            padding: 0.8rem;
            font-family: 'Space Mono', monospace;
            text-transform: uppercase;
            color: $light-color;
            background: $dark-color;
            border: none;
            cursor: pointer;

            &:hover {
                transition: background 0.3s ease;
                background: lighten($color: $dark-color, $amount: 3%);
            }
        }
    }
}

// Footer
#main-footer {
    padding: 1rem;
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

@import './mobile.scss';
